<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.riot.dao.StatsMapper">
	<!-- 플레이어 -->
    <select id="selectTftPlayers" resultType="kr.kh.riot.model.vo.TftPlayers">
        SELECT 
            id, 
            puuid, 
            riot_id_name AS riotIdName, 
            riot_id_tagline AS riotIdTagline, 
            game_date AS gameDate, 
            created_at AS createdAt, 
            bot
        FROM tft_players
    </select>
    <!-- 랭크 -->
    <select id="selectTftRank" resultType="kr.kh.riot.model.vo.TftRank">
	    SELECT 
	        r.id, 
	        r.puuid, 
	        p.riot_id_name AS riotIdName, 
	        p.riot_id_tagline AS riotIdTagline, 
	        r.tier, 
	        r.rank_division AS rankDivision, 
	        r.league_points AS leaguePoints, 
	        r.wins, 
	        r.losses
	    FROM tft_rank r
	    LEFT JOIN tft_players p ON r.puuid = p.puuid
	</select>
	<!-- 아이템 -->
	<select id="selectTftMatches" resultType="kr.kh.riot.model.vo.TftMatches">
	    SELECT 
	        match_id AS matchId,
	        placement,
	        level,
	        gold_left AS goldLeft,
	        last_round AS lastRound,
	        players_eliminated AS playersEliminated,
	        time_eliminated AS timeEliminated,
	        total_damage_to_players AS totalDamageToPlayers,
	        game_length AS gameLength,
	        companion,
	        traits,
	        units
	    FROM tft_matches
</select>
</mapper>